.camcontent{
  display: block;
  position: relative;
  overflow: hidden;
  height: 480px;
  margin: auto;
  }
.cambuttons button {
  border-radius: 15px;
  font-size: 18px;
  }
.cambuttons button:hover {
  cursor: pointer;
  border-radius: 15px;
  background: #00dd00 ;    /* green */ 
  }

/* Style GALERIE */

.glr{
  margin-right: 5%;
}

.img_glr{
    height: auto;
    width: 20%;
  }

.desc_glr{
    display: none;
  }



#canvas{
  display: none;
}

body
{
  font-family: fantasy;
    letter-spacing: 1px;
}

.glr
{
  width:100%;
}

.contentBlock
{
 width:33%;
 min-width:33%;
}

.glr img
{
  width:80%;
  margin:auto;
  height:auto;
  max-height:200px;
  margin-left: 10%;
}




.blockInline
{
  display:flex;
}

h3
{
  text-align:center;
}

.buttonContent
{
  display:flex;
}
.buttonContent form
{
 margin-left:2%; 
}

.description{
  font-size:22px;
  line-height:26px;
  margin-top:10px;
}

#com{
 width:50%; 
}

#addCom
{
 margin-left:10px;
}

.like{
  
}

.desc_glr
{
      width: 100%;
  margin-left:10%;
  margin-bottom:20px;
}

.date
{
  font-size:10px;
}

#likeimg
{
  height:20px;
  margin-left:initial;
  width:auto;
  
}

.pageChange
{
  letter-spacing:1.5px;
  margin-left:20px;
  margin-top:20px;
}